Repository hmcts/opal-legacy-db-stub, pull requests merged in 2025-08, with the labels that each got.

#67 Po 1901 legacy api search defendant accounts
  wiremock/__files/legacy/DefendantAccount/defendantAccountsSearch_noResults.xml
  wiremock/__files/legacy/DefendantAccount/searchDefendantAccounts.xml
  wiremock/mappings/legacy/DefendantAccount/defendantAccountsSearch_noResults.json
  wiremock/mappings/legacy/DefendantAccount/getAccountDetails.json
  wiremock/mappings/legacy/DefendantAccount/getDefendantAccount.json
  wiremock/mappings/legacy/DefendantAccount/getDefendantAccount_not_found.json
  wiremock/mappings/legacy/DefendantAccount/searchDefendantAccounts.json
Labels: ns:opal, prd:opal, rel:opal-legacy-db-stub-pr-67

#76 Change response decoding to avoid chunking
  src/main/java/uk/gov/hmcts/opal/legacy/stub/controllers/WiremockRequestForwardingController.java
Labels: ns:opal, prd:opal, rel:opal-legacy-db-stub-pr-76

#80 Po 1902 search minor creditors
  wiremock/__files/legacy/MinorCreditor/searchMinorCreditors.xml
Labels: ns:opal, prd:opal, rel:opal-legacy-db-stub-pr-80
